body {
    font-family: "Roboto", sans-serif;
    color: rgb(77, 77, 77);
    background-color: aliceblue;
}

main {
    margin-left: 12%;
    margin-right: 12%;
}

footer {
    background-color: black;
    margin-top: 5%;
    height: 6em;
}

nav {
    background-color: rgb(161, 19, 19);
    display: flex;
    justify-content: space-between;
}

nav a {
    font-weight: 700;
    padding-top: 2em;
    padding-bottom: 2em;
    color: rgb(185, 185, 185);
    text-decoration: none;
    display: inline-block;
    width: 19%;
    text-align: center;
}

.fiche {
    background-color: #c9c9c9;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:flex-start;
    justify-content: space-between;
    border: 2px solid #222;
    margin-top: 5%;
    
}

.image-recette {
    max-width: 40%;
    height: auto;
    margin: 5%;
}

.resume {
    font-size: 1.1em;
    width: 40%;
    margin: 5%;
}

/* Non relative
body{
    font-family: "Roboto", sans-serif;
    margin-left: 12%;
    margin-right: 12%;
}

header{
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    font-size: 45px;
    margin-bottom: 2%;

}

nav{
    background-color: rgb(175, 14, 14);
}

nav a{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 24%;
    text-align: center;
    text-decoration: none;
    color: rgb(189, 189, 189);
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
}

div {
    margin-top: 5%;
    border: 1px solid rgb(80, 79, 79);
}

img {
    align-items: right;
    max-width: 40%;
    height: auto;
    margin: 5%;
}

p {
    max-width: 40%;
    height: auto;
    text-align: left;
}
*/